base_url = 'http://localhost:8080'
api_token = ''
# sample data will be created in the following order
sample_data = [
'data/dataverses/king/king.json',
'data/dataverses/king/datasets/cause-of-death/cause-of-death.json',
]

# put this back at line 6 once https://github.com/IQSS/dataverse/pull/6924 is merged
# 'data/dataverses/dataverseno/datasets/tabular-sample-data/tabular-sample-data.json',
